// Footer

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,$cream,$cream,$blue);
    border-top: black 2px solid;
    img{
        display: flex;
        width: 7.5em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        img{
            width:1em;
            margin: 0.2em;
        }
    }
}
.footer__derechosReservadosText{
    font-size: 0.7em;
    color:$cream ;
    margin-top: 3em;
    text-decoration: none;
}

.footer__textoPrincipal{
    color:$cream ;
    font-weight: 600;
    text-align: center;
}
